# Python bytecode and cache
__pycache__/
*.py[cod]

# macOS system file
.DS_Store

# IDE project settingsfind . -name .DS_Store -delete


.idea/

# Virtual environments
venv/
env/
ENV/
*.egg-info/

# Environment files (if using .env for secrets)
.env

# Logs and dumps
*.log
*.sqlite3
